body {
    background-color: #1e252d;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/ffm.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
}

.overlay {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    

    margin: 10%;
    padding: 3%;


    z-index: 1;
    background: rgba(51, 51, 51, 0.699);
    border-radius: 5px;
}

.picture {
    border-radius: 5px;
    height: 13.85em;
    z-index: 3;
    margin-top: 2em;
}

.text {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    overflow-wrap: break-word;
    overflow: hidden;
    z-index: 3;
    text-align: left;
}

.left {
    min-width: 10em;
    max-width: 15em;
    height: 80%;
}

.right {
    max-width: 25em;
    min-width: 15em;
    height: 80%;
}

a{
    color: rgb(216, 216, 216);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
